@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
}

.message {
    color: red;
    font-size: 13px;
    border: 1px solid;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    border-radius: 8px;
}