@import url(https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

.message {
  color: red;
  font-size: 13px;
  border: 1px solid;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  border-radius: 8px;
}

.header {
  position: fixed;
  height: 80px;
  background-color: #333333;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}
.header img {
  width: 100px;
}
.header_menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_menu_item {
  list-style: none;
  position: relative;
  padding: 10px 30px;
}
.header_menu_item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: tomato;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}
.header_menu_item::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  height: 30px;
  background: transparent;
}
.header_menu_item:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}
.header_menu_item:hover > .header_menu_item_a {
  visibility: visible;
  opacity: 1;
}
.header_menu_item a {
  text-decoration: none;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.6);
  transition: transform 0.5s ease;
}
.header_menu_item a:hover {
  color: #fff;
}
.header_menu_item_a {
  width: 100%;
  padding: 0 !important;
  position: absolute;
  top: 3.8rem;
  left: 0;
  display: block;
  padding: 0 25px;
  line-height: 50px;
  color: #f1f2f3;
  text-decoration: none;
  background-color: #333333;
  transition: 0.3s linear;
  visibility: hidden;
  opacity: 0;
}
.header_menu_item_a_li {
  list-style: none;
  padding: 8px 0;
  text-align: center;
}
.header_menu_item_a_li a {
  font-size: 14.5px;
}
.header_menu_item_a_li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: tomato;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}
.header_menu_item_a_li:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}
.header_block {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header_block_search {
  position: relative;
}
.header_block input {
  width: 15rem;
  outline: none;
  color: white;
  font-size: inherit;
  font-family: inherit;
  background-color: #333333;
  padding: 0.35em 0.45em;
  border: 1px solid transparent;
  transition: background-color 0.3s ease-in-out;
}
.header_block input:focus {
  outline: none;
}
.header_block input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.header_block input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.header_block input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.header_block span {
  position: absolute;
  background-color: tomato;
  transition: transform 0.5s ease;
}
.header_block .bottom,
.header_block .top {
  height: 1px;
  left: 0;
  right: 0;
  transform: scaleX(0);
}
.header_block .left,
.header_block .right {
  width: 1px;
  top: 0;
  bottom: 0;
  transform: scaleY(0);
}
.header_block .bottom {
  bottom: 0;
  transform-origin: bottom right;
}
.header_block input:focus ~ .bottom {
  transform-origin: bottom left;
  transform: scaleX(1);
}
.header_block .right {
  right: 0;
  transform-origin: top right;
}
.header_block input:focus ~ .right {
  transform-origin: bottom right;
  transform: scaleY(1);
}
.header_block .top {
  top: 0;
  transform-origin: top left;
}
.header_block input:focus ~ .top {
  transform-origin: top right;
  transform: scaleX(1);
}
.header_block .left {
  left: 0;
  transform-origin: bottom left;
}
.header_block input:focus ~ .left {
  transform-origin: top left;
  transform: scaleY(1);
}
.header_block .bx {
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s linear;
}
.header_block .bx:nth-child(2) {
  margin: 0 10px;
}
.header_block .bx:hover {
  color: tomato;
}

.footer {
  background-color: #333333;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
.footer_top {
  max-width: 1000px;
  width: 100%;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
}
.footer_top_item {
  text-align: center;
}
.footer_top_item h3 {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}
.footer_top_item ul {
  line-height: 30px;
}
.footer_top_item ul li {
  list-style: none;
}
.footer_top_item ul li a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s linear;
}
.footer_top_item ul li a:hover {
  color: tomato;
}

.login {
  background-color: #333333;
  position: relative;
  height: 100vh;
}
.login form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
}
.login form h3 {
  font-size: 26px;
  color: #000;
  display: block;
  margin: 0px auto 30px;
  text-transform: uppercase;
  font-weight: bold;
}
.login form h3 span {
  color: tomato;
  font-size: 30px;
  margin-right: 10px;
}
.login form input {
  width: 300px;
  border: 1px solid #ccc;
  padding: 16px;
  outline: none;
  border-radius: 8px;
}
.login form input:nth-child(3) {
  margin: 20px 0;
}
.login form button {
  padding: 12px 20px;
  border: 2px solid #ccc;
  font-weight: bold;
  color: #333333;
  background-color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}
.login form button:hover {
  background-color: #333333;
  color: #fff;
}
.login form p {
  font-size: 14px;
  color: #969696;
  margin: 30px auto 0;
}
.login form p a {
  font-weight: bold;
  color: red;
  text-transform: uppercase;
}
