.footer {
    background-color: rgb(51, 51, 51);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    &_top {
        max-width: 1000px;
        width: 100%;
        margin: 30px auto;
        display: flex;
        justify-content: space-between;
        &_item {
            text-align: center;
            h3 {
                text-transform: uppercase;
                color: #fff;
                margin-bottom: 20px;
            }
            ul {
                line-height: 30px;
                li {
                    list-style: none;
                    a {
                        color: hsla(0, 0%, 100%, 0.6);
                        text-decoration: none;
                        font-size: 14px;
                        transition: .3s linear;
                        &:hover {
                            color: tomato;
                        }
                    }
                }
            }
        }
    }
}