.header {
    position: fixed;
    height: 80px;
    background-color: rgb(51, 51, 51);
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    img {
        width: 100px;
    }

    &_menu {
        display: flex;
        justify-content: center;
        align-items: center;
        &_item {
            list-style: none;
            position: relative;
            padding: 10px 30px;
            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 2px;
                background-color: tomato;
                transform-origin: bottom right;
                transform: scaleX(0);
                transition: transform 0.5s ease;
            }
            &::after {
                content: "";
                position: absolute;
                bottom: -20px;
                left: 0;
                right: 0;
                height: 30px;
                background: transparent;
            }
            &:hover::before {
                transform-origin: bottom left;
                transform: scaleX(1);
            }
            &:hover > .header_menu_item_a {
                visibility: visible;
                opacity: 1;
            }
            a {
                text-decoration: none;
                font-weight: bold;
                color: hsla(0, 0%, 100%, 0.6);
                transition: transform 0.5s ease;
                &:hover {
                    color: #fff;
                }
                
            }
            &_a {
                width: 100%;
                padding: 0 !important;
                position: absolute;
                top: 3.8rem;
                left: 0;
                display: block;
                padding: 0 25px;
                line-height: 50px;
                color: #f1f2f3;
                text-decoration: none;
                background-color: rgb(51, 51, 51);
                transition: 0.3s linear;

                visibility: hidden;
                opacity: 0;
                &_li {
                    list-style: none;
                    padding: 8px 0;
                    text-align: center;
                    a {
                        font-size: 14.5px;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        height: 2px;
                        background-color: tomato;
                        transform-origin: bottom right;
                        transform: scaleX(0);
                        transition: transform 0.5s ease;
                    }
                    &:hover::before {
                        transform-origin: bottom left;
                        transform: scaleX(1);
                    }
                }
            }
        }
    }
    &_block {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        &_search {
            position: relative;
        }

        input {
            width: 15rem;
            outline: none;
            color: white;
            font-size: inherit;
            font-family: inherit;
            background-color: rgb(51, 51, 51);
            padding: 0.35em 0.45em;
            border: 1px solid transparent;
            transition: background-color 0.3s ease-in-out;
        }

        input:focus {
            outline: none;
        }

        input::placeholder {
            color: hsla(0, 0%, 100%, 0.6);
        }

        span {
            position: absolute;
            background-color: tomato;
            transition: transform 0.5s ease;
        }

        .bottom,
        .top {
            height: 1px;
            left: 0;
            right: 0;
            transform: scaleX(0);
        }

        .left,
        .right {
            width: 1px;
            top: 0;
            bottom: 0;
            transform: scaleY(0);
        }

        .bottom {
            bottom: 0;
            transform-origin: bottom right;
        }

        input:focus ~ .bottom {
            transform-origin: bottom left;
            transform: scaleX(1);
        }

        .right {
            right: 0;
            transform-origin: top right;
        }

        input:focus ~ .right {
            transform-origin: bottom right;
            transform: scaleY(1);
        }

        .top {
            top: 0;
            transform-origin: top left;
        }

        input:focus ~ .top {
            transform-origin: top right;
            transform: scaleX(1);
        }

        .left {
            left: 0;
            transform-origin: bottom left;
        }

        input:focus ~ .left {
            transform-origin: top left;
            transform: scaleY(1);
        }
        .bx {
            font-size: 25px;
            color: #fff;
            cursor: pointer;
            transition: 0.3s linear;
            &:nth-child(2) {
                margin: 0 10px;
            }
            &:hover {
                color: tomato;
            }
        }
    }
}
