.login {
    background-color: rgb(51, 51, 51);
    position: relative;
    height: 100vh;
    form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        background: #fff;
        border-radius: 8px;
        h3 {
            font-size: 26px;
            color: #000;
            display: block;
            margin: 0px auto 30px;
            text-transform: uppercase;
            font-weight: bold;
            span {
                color: tomato;
                font-size: 30px;
                margin-right: 10px;
            }
        }
        input {
            width: 300px;
            border: 1px solid #ccc;
            padding: 16px;
            outline: none;
            border-radius: 8px;
            &:nth-child(3) {
                margin: 20px 0;
            }
        }
        button {
            padding: 12px 20px;
            border: 2px solid #ccc;
            font-weight: bold;
            color: rgb(51, 51, 51);
            background-color: #fff;
            border-radius: 8px;
            cursor: pointer;
            transition: .3s;
            &:hover {
                background-color: rgb(51, 51, 51);
                color: #fff;
            }
        }
        p {
            font-size: 14px;
            color: rgb(150, 150, 150);
            margin: 30px auto 0;
            a {
                font-weight: bold;
                color: red;
                text-transform: uppercase;
            }
        }
    }
}